body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#upload-container {
    z-index: 0;
    text-align: center;
}

.upload-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.upload-button:hover {
    background-color: #45a049;
}

.upload-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#imageCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    height: 90vmin;
    display: none;
    background-color: transparent;
}

#title {
    position: absolute;
    top: 2%;
    left: 2%;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}